<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Image and Text Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      /* Center the image and text */
      img, div {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
      p {
        display: block;
        margin: 0 auto;
        text-align: left;
        right: 0px;
      }
    </style>
  </head>
  <body>
    <div>
    <img src="data:image/png;base64, {{ image_str }}" />
    {% for answer in answers %}
        {% for entry in answer %}
          <p>{{ entry }}</p>
        {% endfor %}
    {% endfor %}
    </div>
  </body>
</html>
